.bg-purple {
    background-color: #6103EE !important;
}
.bg-green {background-color: #04AA6D !important;}

.bg-blue {background-color: #1c045e !important;}


.bg-pink1 {background-color: #6b1571 !important;}

.bg-orange {background-color: #b44408 !important;}
