.bg-purple {
    background-color: #6103EE !important;
}

.color-purple {
    color: #6103EE !important;
}
.color-white {
    color: white !important;
}

.float-right {
    float: right;
}
.height-20 {
    height: 20%;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.button-theme {
    background-color: black !important;
    color: #fff !important;
    border: none !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 15px !important;
    min-height: 30px !important;
    min-width: 120px !important;
  }

  .button-theme:hover {
    transition: 0.9s;
    background-color:#002ead !important;
}

.a-tag {
    color: white !important;
    text-decoration: none !important ;
}
.skills-container {
    width: 80%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 10px;
    float: left;
  }
  
  .skills-bar {
    text-align: right; /* Right-align text */
    padding-top: 5px; /* Add top padding */
    padding-bottom: 5px; /* Add bottom padding */
    color: white; 
    /*White text color */
  }
  
  .fill-90 {
    width: 90%;
} /* Green */
  .bg-green {background-color: #04AA6D !important;}
  
  .fill-80 {width: 80%} 
  .bg-blue {background-color: #1c045e !important;}

  .bg-pink1 {background-color: #6b1571 !important;}
  .bg-orange {background-color: #b44408 !important;}

  .fill-75 {width: 75%} 
  .fill-70 {width: 70%} 

  